[Desktop Entry]
Version=1.0
Type=Application
Name=Obsidian

Comment=Markdown Editor
Exec=obsidian %u
Icon=obsidian
Terminal=false
Categories=Office;Utility;