[Desktop Entry]
Version=1.0
Type=Application
Name=Signal

Comment=Private Messenger
Exec=signal-desktop %U
Icon=signal-desktop
Terminal=false
Categories=Network;InstantMessaging;

