[Desktop Entry]
Version=1.0
Type=Application
Name=Spotify

Comment=Spotify Music
Exec=spotify %U
Icon=spotify
Terminal=false
Categories=AudioVideo;Player;
