[Desktop Entry]
Version=1.0
Type=Application
Name=Brave
GenericName=Web Browser
Comment=Browse the Web
Exec=brave
Icon=world
Terminal=false
Categories=Network;WebBrowser;
